@media screen and (min-width:600px) {
    html{
        font-size: 16px;
    }

nav {
    background-color:rgb(32, 30, 30);
    
}
nav ul a,
nav ul a:link nav ul a:visited {
   
    /* horizontal, vertical, blur, spread, color */
    box-shadow: 1px 1px 0px 0px #000;
    color:darkgoldenrod;
    text-decoration: none;
}
}

nav ul li {
    display: flex;
    justify-content: center;
  padding: .5em;
font-size: 25px;
font-family: sans-serif;
}



.container {
    /* create a container containing everything inside the body tag */
    width: 1200px;
    margin: 0 auto;
 
}

.three-star-media {
    width: 1200px;
    margin: 0 auto;
    background-color: 000000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

header {
    background-image: url(../images/main-banner.jpg)
}  
ul {
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
}

nav  {
    background-color: rgb(24, 24, 22);
    
}

ul li {
    color: red;
}
.nav-list a,
.nav-list :link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-align: center;
}
.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current { 
    background-color: darkgoldenrod;
    color: inherit;
}

.nav-list {
    display: flex;
}

.nav-list li {
    flex: 1;
    border: none;
 
}

.nav-list li:last-child {
border:none
}

.max-mar { 
}