html {
    font-family: Arial, Helvetica, sans-serif;
  
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h3 {
    font-size: 28px;
}


ul {
    
    list-style: none;
}


nav  {
    background-color: rgb(24, 24, 22);
    padding: 2%;
    padding-top: 3%;
    padding-right: 8%;
}

ul li {
    color: black;
}



 
.nav-list a,
.nav-list :link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-align: center;
    color: darkgoldenrod;
    text-decoration: none;
}


.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current, 
.logo-container { 
    background-color: darkgoldenrod;
    color: inherit;
}




.nav-list input {
    padding: 5px;
    font-size: 14px;
    margin-top: 12px;
    width: 350px;
}

/* come back to fix magnifying glass */

ul i {
    background-color: rgb(24, 24, 22);
    color: inherit;
    display: block;
    color: black;
    padding: 0.1em 0.1em .1em 0.1em;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(197, 162, 8); 
} 


.three-star-media  {
    max-width: 900px;
    margin: 0 auto;
    background-color:hsla(24, 24%, 10%, .8);
    padding: 1em;
}

h1 {
    color: white;
    font-size: 60px;
}

.three-star-media p {
    color: white;
    font-size: 16px;
}


.three-star-media a {
    background-color: darkgoldenrod;
    color: inherit;
    display: block;
    color: black;
    text-decoration: none;
    margin-right: 60%;
    padding: 1.5em 0;
    text-align: center;
    font-size: 20px;
}
    

header {
        background-image: url(../images/main-banner.jpg);
        background-position:bottom;
        background-size: 134%;
        background-repeat: no-repeat;
    } 

    .banner {
       padding-top: 15%;
       padding-bottom: 15%;
    }
    
/* About us  */
article {
    background-color: bisque;
    
    
    }

    .about-us {
        max-width: 900px;
        margin: 0 auto;
    
    }
    
    .about-us {
      
        gap: 20px; /* Gap between the columns */
        padding: 2%;
    }
    
    .about-image img {
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        width: 100%; /* Allow the image to take the entire width available in the grid cell */
        height: auto; /* Maintain the image's aspect ratio */
        object-fit: contain; 
    }
    
    .about-info {
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        object-fit: contain;
       
    }
    
    


/* our services */
    .our-services {
   
        max-width: 900px;
        margin: 0 auto;
        padding: 5%;
        gap: 20px;
       
    }
    

    
    
    /* allows to style Oer services cards all at once */
    .max-mar {
    background-color:bisque; 
    font-size: 14px;
    padding-bottom: .1px;
    
    }
    
    .max-mar p {
    padding: 2%;
    }
    
    .max-mar img {
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        width: 100%; /* Allow the image to take the entire width available in the grid cell */
        height: auto; /* Maintain the image's aspect ratio */
        object-fit: contain; 
        padding-right: 50%;
    }
    
    /* fix anchor tags */
    .max-mar a {
        background-color: rgb(24, 24, 22);
        color: inherit;
        display: block;
        color:white;
        text-decoration: none;
        padding: 1.5em 0;
        text-align: center;
        font-size: 20px;
        margin: 2%;
        margin-right:65% ;

    }
    
    h2 { 
        font-size: 36px;
    }
    
    .max-mar h3 {
        font-size: 28px;
        margin: 2%;
    }

    /*  Our vision */
    /* make it smaller */
    /* fix image */
    .vision {
        background-image: url(../images/vision.jpg);
        background-position: center;
        background-size: 100%;
        width: 100%;
    }
    
    .vision-info {
        max-width: 900px;
        margin: 0 auto;
        color: white;
        padding: 2%;
    }
    
    /* fix anchor tag */
    .vision-info a {
        background-color:hsla(220, 20%, 5%, .4);
        color: inherit;
        color:white;
        text-decoration: none;
        padding: 1.5em 0;
        text-align: center;
        font-size: 20px;
        display: inline-block;
        width: 30%;
        border: 1px solid darkgoldenrod;
    }
    
    h4 {
    font-size: 28px;
    padding: -2%;
    }
/* our team */
    
.our-team {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.our-team h2 {
    flex-basis:100%;
    }
    
    .john-image {
        flex-basis: 100%;
        order: 1;
    }
    .john-info {
        flex-basis: 100%;
        order: 2;
    }
    
    .bob-info {
        flex-basis: 100%;
        order: 4;
    
    }
    
    .bob-image {
        flex-basis: 100%;
        order: 3;
    }
    

.max-mar h5 {
        font-size: 14px;
      font-weight: bold;
      margin: 2%;
      
  }
  
  .line {
      border: 1px solid darkgoldenrod;
      margin-top: -5px;
      margin-right: 5%;
      margin-left: 2%;
  }

  /* contact us  */
  
 

  .name input {
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 600px;
}

 /* they dont shrink with the rest, might be one of the squares */
.email input {
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 600px;
}
    
.message input {
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 600px;
    padding-bottom: 100px;
}

.contact a {
    background-color: rgb(24, 24, 22);
    color: inherit;
    display: block;
    color: darkgoldenrod;
    text-decoration: none;
    margin-right: 85%;
    margin-top: 5%;
    padding: .3em 0;
    text-align: center;
    font-size: 20px;
}

/* wont shrink too */
table {
    
    border-collapse: collapse;
    width: 600px;
    
}

table th, 
table td {
    border: 1px solid black;
    font-size: 16px;
    padding: 16px;
}


thead {
    background-color: bisque;
}


.footer {
    background-color: rgb(24, 24, 22);
    color: darkgoldenrod; 
    padding-top: 1%;
}

footer p {
    padding-bottom: 1%;
}

.footer-info {
    max-width: 900px;
    margin: 0 auto;
}


@media screen and (min-width:1200px) {
    

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.nav-list img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    width: 70%; /* Allow the image to take the entire width available in the grid cell */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; 
    margin-top: -10%;
}

ul {
    max-width: 900px;
    margin: 0 auto;
    list-style: none;
}


nav  {
    background-color: rgb(24, 24, 22);
    padding: 2%;
    padding-top: 3%;
    padding-right: 8%;
}

ul li {
    color: white;
}




.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-align: center;
    color: darkgoldenrod;
    text-decoration: none;
}
.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current { 
    background-color: darkgoldenrod;
    color: inherit;
}

.logo-container { 
    background-color: rgb(24, 24, 22);
}

.nav-list {
    display: flex;
}

.nav-list li {
    flex: 1;
    border: none;
 
}

.nav-list input {
    padding: 5px;
    font-size: 14px;
    margin-top: 12px;
}

ul i {
    background-color: rgb(24, 24, 22);
    color: inherit;
    display: block;
    color: black;
    padding: 0.1em 0.1em .1em 0.1em;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(197, 162, 8); 
} 


header {
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: 100%;
} 

.banner {
    padding: 2%;
}

.three-star-media  {
    max-width: 900px;
    margin: 0 auto;
    background-color:hsla(24, 24%, 10%, .8);
    padding: 2%;
}

h1 {
    color: white;
    font-size: 70px;
}

.three-star-media p {
    color: white;
    font-size: 16px;
}
.three-star-media a {
    background-color: darkgoldenrod;
    color: inherit;
    display: block;
    color: black;
    text-decoration: none;
    margin-right: 70%;
    padding: 1.5em 0;
    text-align: center;
    font-size: 25px;
    
}



/* About us  */
article {
background-color: bisque;


}

.about-us {
    max-width: 900px;
    margin: 0 auto;

}

.about-us {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 50%; /* Two columns of equal width */
    gap: 20px; /* Gap between the columns */
}

.about-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    width: 100%; /* Allow the image to take the entire width available in the grid cell */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; 
    padding: 1em 0em; 
}

.about-info {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    width: 100%; /* Allow the image to take the entire width available in the grid cell */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain;
   
}



/* our services */

.our-services {
   
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: 
    "header header header header header header"
    "digital digital digital marketing marketing marketing"
    "video video web web print print"; 
    gap: 20px;
    
}

.services {
    grid-area: header;
}


.digital {
    grid-area: digital;
}

.marketing {
    grid-area: marketing;
    
}

.video {
    grid-area: video;
}

.web{
    grid-area: web;
}

.print{
    grid-area: print;
}


/* allows to style Oer services cards all at once */
.max-mar {
background-color:bisque; 
font-size: 14px;

}

.max-mar p {
padding: 2%;
}

.max-mar img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    width: 100%; /* Allow the image to take the entire width available in the grid cell */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; 
    padding-right: 50%;
}

.max-mar a {
    background-color: rgb(24, 24, 22);
    color: inherit;
    display: block;
    color:white;
    text-decoration: none;
    padding: 1.5em 0;
    text-align: center;
    font-size: 20px;
    margin: 5%;
}

h2 { 
    font-size: 36px;
}

.max-mar h3 {
    font-size: 28px;
    margin: 2%;
}

/* Vision */

.vision {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: 100%;
}

.vision-info {
    max-width: 900px;
    margin: 0 auto;
    color: white;
    padding: 1%;
}

.vision-info a {
    background-color:hsla(220, 20%, 5%, .4);
    color: inherit;
    color:white;
    text-decoration: none;
    padding: 1.5em 0;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    width: 20%;
    border: 1px solid darkgoldenrod;
}

h4 {
font-size: 28px;
}

/* Our Team */

.our-team {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/* Using flex to display them propperly on the desktop version. */
.our-team h2 {
flex-basis:100%;
}

.john-image {
    flex-basis: 50%;
    order: 1;
}
.john-info {
    flex-basis: 50%;
    order: 2;
}

.bob-info {
    flex-basis: 50%;
    order: 3;

}

.bob-image {
    flex-basis: 50%;
    order: 4;
}

.max-mar{
    position: relative;
}

.max-mar h5 {
      font-size: 14px;
    font-weight: bold;
    margin: 2%;
    
}

.line {
    border: 1px solid darkgoldenrod;
    margin-top: -5px;
    margin-right: 5%;
    margin-left: 2%;
}


/* contact us  */

.contact {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
    grid-template-areas: 
    "header header"
    "message location"
    "hours hours"; 
    gap: 20px;
    padding: 8px;
}

.contact h2 {
    grid-area: header;
}

.message-info {
  grid-area: message;
 
}

.hours {
  grid-area: hours;
   
}

.location {
    grid-area: location;
    
}

.name input {
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 400px;
}

.email input {
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 400px;
}
    
.message input {
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 400px;
    padding-top: 100px;
}

.contact a {
    background-color: rgb(24, 24, 22);
    color: inherit;
    display: block;
    color: darkgoldenrod;
    text-decoration: none;
    margin-right: 85%;
    margin-top: 5%;
    padding: .3em 0;
    text-align: center;
    font-size: 20px;
    
}

table {
    border-collapse: collapse;
    width: 900px;
    
}

table th, 
table td {
    border: 1px solid black;
    font-size: 16px;
    padding: 16px;
}


thead {
    background-color: bisque;
}



.footer {
    background-color: rgb(24, 24, 22);
    color: darkgoldenrod; 
    padding-top: 1%;
}

footer p {
    padding-bottom: 1%;
}

.footer-info {
    max-width: 900px;
    margin: 0 auto;
}

}