@media screen and (min-width:600px) {
    html{
        font-size: 16px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

header {
    background-image: url(../images/main-banner.jpg)
}  
ul {
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
}

nav  {
    background-color: rgb(24, 24, 22);
    
}

ul li {
    color: red;
}
.nav-list a,
.nav-list :link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-align: center;
}
.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current { 
    background-color: darkgoldenrod;
    color: inherit;
}

.nav-list {
    display: flex;
}

.nav-list li {
    flex: 1;
    border: none;
 
}

.nav-list li:last-child {
border:none
}